<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clvsouthies.ax.androidtut4beginners" >

    <!-- NEED TO ADD TO BE ABLE TO GO ON THE INTERNET AND GET DATA -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_books"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.clvsouthies.ax.androidtut4beginners.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
